body {
  border-top: 10px solid #F17105;
  font-family: "Crimson Text", serif;
  color: #313131;
  margin-bottom: 80px; }

html {
  position: relative;
  min-height: 100%; }

span.name {
  color: #F17105; }

.content {
  clear: both;
  margin-top: 40px; }

h1 {
  font-family: "Proza Libre", sans-serif;
  color: #F17105;
  font-size: 1.5em; }

.page-content h1, .sidebar h1 {
  margin-bottom: 20px; }

a {
  color: #F17105; }
  a:hover {
    color: #F17105; }

blockquote {
  font-size: 1.2em;
  border-left: 5px solid #9B9B9B;
  margin-bottom: 20px; }

.sidebar {
  margin-bottom: 80px; }

.sidebar a button {
  margin-top: 15px; }

.sidebar ul {
  padding-left: 25px; }
  .sidebar ul li {
    margin-top: 5px; }

button {
  width: 100%;
  background-color: #F17105;
  color: #FDFDFD;
  border: 0;
  padding: 10px;
  border-radius: 2px; }

.top ul {
  list-style-type: none;
  text-align: center; }

.notable-tech {
  font-size: 1.2em; }

.project-thumbnail {
  cursor: pointer; }

button.close {
  width: auto; }

.recent-post-title {
  font-size: 1.2em; }

footer {
  clear: both; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

footer ul {
  padding-left: 0; }

footer ul a {
  color: #313131; }
  footer ul a li {
    font-size: 1em;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px; }

.dev-project {
  margin-top: 50px;
  margin-bottom: 75px; }

.writing-project {
  margin-bottom: 50px; }

.dev-project h2, .writing-project h2 {
  font-size: 1.4em; }

.project-details {
  padding-left: 30px; }

.top ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0; }

.top ul a {
  color: #9B9B9B; }
  .top ul a:hover {
    color: #FDFDFD;
    text-decoration: none; }
  .top ul a li {
    font-size: 1.3em;
    display: inline-block;
    padding: 10px 3px 3px;
    margin-left: 15px;
    margin-right: 15px; }
    .top ul a li:hover {
      background-color: #F17105; }

@media (max-width: 499px) {
  .top ul a li {
    margin-left: 7px;
    margin-right: 7px; } }

header {
  margin-top: 25px; }

.line {
  position: relative;
  margin-top: 10px;
  margin-bottom: 60px;
  height: 1px;
  border-bottom: 1px solid #9B9B9B;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.about-copy {
  margin-top: 15px;
  font-size: 10pt; }

.nav-selected li {
  color: #FDFDFD;
  background-color: #F17105; }
