body {
  border-top: 10px solid $orange;
  font-family: $serif, serif;
  color: $black;
  margin-bottom: 80px;
}

html {
  position: relative;
  min-height: 100%;
}

span.name {
  color: $orange;
}

.content {
  clear: both;
  margin-top: 40px;
}

h1 {
  font-family: $sans, sans-serif;
  color: $orange;
  font-size: 1.5em;

}

.page-content h1, .sidebar h1 {
  margin-bottom: 20px;
}

a {
  color: $orange;

  &:hover {
    color: $orange;
  }
}

blockquote {
  font-size: 1.2em;
  border-left: 5px solid $gray;
  margin-bottom: 20px;
}

.sidebar {
  margin-bottom: 80px;
}

.sidebar a button {
  margin-top: 15px;
}

.sidebar ul {
  padding-left: 25px;
  li {
    margin-top: 5px;
  }
}

button {
  width: 100%;
  background-color: $orange;
  color: $white;
  border: 0;
  padding: 10px;
  border-radius: 2px;
}

button.close {
  width: auto;
}

.notable-tech {
  font-size: 1.2em;
}

.project-thumbnail {
  cursor: pointer;
}

.recent-post-title  {
  font-size: 1.2em;
}

.dev-project {
  margin-top: 50px;
  margin-bottom: 75px;
}

.writing-project {
  margin-bottom: 50px;
}

.dev-project h2, .writing-project h2 {
  font-size: 1.4em;
}

.project-details {
  padding-left: 30px;
}
